/* RGB */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 2011 01 26
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, code, em, img, ins, kbd, q, s, samp,
small, strong, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header,
menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit; }

a, button, input, textarea {
  border: 0;
  outline: 0; }

a:focus, button:focus, input:focus, textarea:focus {
  outline: 0;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, div,
footer, header, hgroup, menu, nav, section, ul, ol {
  display: flex;
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

html {
  font-size: 62.5%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 900; }

body {
  font-size: 1.8rem;
  font-weight: 300;
  background-color: white;
  font-family: "Quicksand", sans-serif;
  line-height: 1.45; }

h1, h2, h3, h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 5.063rem; }

h2 {
  font-size: 3.375rem; }

h3 {
  font-size: 2.25rem; }

h4 {
  font-size: 1.5rem; }

small {
  font-size: 0.667rem; }
