.bg-red {
  background: red; }

.bg-blue {
  background: blue; }

.bg-purple {
  background: purple; }

.bg-pink {
  background: pink; }

.primary-type {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300;
  color: white; }

.secondary-type {
  font-family: "Montserrat", sans-serif !important; }
