section.box-col.ai-center
  .box
    h2 Wordssssssssssss
  .box.jc-center
    .box-col
      //-
      h3 words
      p These are great words I love them.

    .box-col
      //-
      h3 words
      p These are great words I love them.

    .box-col
      //-
      h3 words
      p These are great words I love them.
