section#body.jc-center.ai-center.all-12
  #body-container.box-col.ai-center.jc-around.all-12
    .box#features-header.box-col
      h2 Peer evaluated Resources for lone wolf learners
      p.
        You've stubled upon a one stop shop for computer science,
        web development, software development, and programming resources.

    #contain-features.box.jc-center
      .box-col.feature-box.ai-center
        //-
        img( src="./assets/icons/open-book.svg" )
        h3 Schooling
        p.
          With all the quality educational

          resources out there
          it's easy to home school.  Check out what our users
          are saying about all the different camps, academys,
          and schools.

      .box-col.feature-box.ai-center
        //-
        img( src="./assets/icons/ruler.svg" )
        h3 Tooling
        p.
          With all the quality educational

          resources out there
          it's easy to home school.  Check out what our users
          are saying about all the different camps, academys,
          and schools.


      .box-col.feature-box.ai-center
        //-
        img( src="./assets/icons/chat.svg" )
        h3 Dueling
        p.
          With all the quality educational

          resources out there
          it's easy to home school.  Check out what our users
          are saying about all the different camps, academys,
          and schools.
