header.box-col

  include nav

  #header-container.box-col.ai-center
    h1 Lorem ipsum dola
    span
    h3.all-3.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    button button
