header.box-col

  include nav

  #header-container.box-col.ai-center.jc-around
    h1 Lorem ipsum dola
    span ================
    h3.all-5.primary-type.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    button button
