doctype html
html(lang='en', ng-app='')
  head
    title Chat Example
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(type='text/javascript', src='index.js')
  body
    block content
