doctype html
html(lang='en', ng-app='')
  head
    title 86 Bootcamp
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(type='text/javascript', src='index.js' defer)
    link(rel="stylesheet" type="text/css" href="./main.css")
    link(rel="stylesheet" type="text/css" href="./assets/box-grid.css")
  body

    include header

    block content
      
