
nav.all-12.box-center
  #nav-container.jc-between.ai-center
    //- <div id="nav-container" class="bg-pink">
    p#logo 86 Bootcamp
    //- <p id="logo">86</p>
    ul.jc-between.box.all-3.ai-center
      li linker
      //-  <li></li>
      li linkey
      li l
    button button
