
nav.all-12.bg-blue.box-center
  #nav-container.bg-pink.jc-between
    //- <div id="nav-container" class="bg-pink">
    p#logo 86
    //- <p id="logo">86</p>
    ul.jc-between.box.all-3.ai-center
      li linker
      //-  <li></li>
      li linkey
      li l
    button button
