$main_color : #1D1E30;

header {
  height: 350px;
  background: url(assets/bg2.jpg) no-repeat;
  background-size: cover;
  background-position: 0 75%;

  h1 {
    font-size: 4.6rem;

  }
}

#features-header {
  text-align: center;
}

#header-bg-color {
  background: rgba(0,0,0,0.25);
  width: 100%;
}

#header-container {
  height: 65%;
  color: white;

  h3 {
    text-align: center;
  }
}

button {

}
