nav {
  ul {
    font-size: 1.4rem;
  }
}

#nav-container {
  max-width: 1200px;
}

#logo {
    font-size: 2.4rem;
}

.bg-red {
  background: red;
}
.bg-blue {
  background: blue;
}
.bg-purple {
  background: purple;
}
.bg-pink {
  background: pink;
}
