html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, code, em, img,
small, strong, ol, ul, li, form, label, article, aside, footer, header,
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	box-sizing: border-box;
}

a, button, input, textarea {
  border: 0;
  outline: 0;
}

a:focus, button:focus, input:focus, textarea:focus {
  outline: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, div, footer, header, menu, nav, section, ul, ol {
	display: flex;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}
