$primary-type: "Quicksand", sans-serif;

/* RGB */
$color1: rgba(115, 251, 211, 1);
$color2: rgba(68, 229, 231, 1);
$color3: rgba(89, 210, 254, 1);
$color4: rgba(74, 143, 231, 1);
$color5: rgba(92, 122, 255, 1);
